#title {
  color: white;
  background-color: #ff4c68;
  font-family: 'Montserrat', sans-serif;
}
.dog-title {
  line-height: 1.5;
  font-size: 3rem;
}
.container-fluid {
  padding: 3% 15%;
}

.icon {
   color:#ef8172;
}
.icon:hover {
  color: #ff4c68;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.press-img {
  width: 15%;
  margin: 20px;
}
